@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");
* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
  font-family: "Preahvihear", sans-serif;
  list-style: none;
  /* letter-spacing: 1px; */
}
header {
  background: #1a0b2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: whitesmoke;
  padding-inline: 20px;
  font-size: 19px;
  z-index: 10;
}
body {
  width: 100vw;
  height: auto;
  /* margin: 0; */
  padding: 0;
  background-color: #11071f !important;
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
  overflow-x: hidden;
  /* border: 10px solid red; */
}
header {
  width: 100%;
}
header > div {
  display: flex;
  column-gap: 10px;
}
header > h3 {
  color: white;
  font-size: 2.7rem;
  font-weight: bolder;
}
header > div > li {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.1rem;
}
.home-container {
  /* margin-top: 2rem; */
  color: white;
  display: grid;
  grid-template-rows: repeat(2);
  justify-content: center;
  row-gap: 3rem;
  /* height: 100vh; */
  align-items: center;
}
.home-image {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  column-gap: 2rem;
  /* border: 1px solid red; */
}
.home-image > img:nth-child(2) {
  width: 20rem;
  height: 20rem;
  border-radius: 10rem;
  background-size: contain;
}
.home-image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid red; */
}
.home-image > div > h1 {
  font-size: 1.3rem;
}
.home-image-content > h2 {
  font-size: 3.5rem;
  font-weight: bolder;
}
.home-image-content > p {
  font-size: 15px;
}
.home-content {
  color: white;
  font-family: "Preahvihear", sans-serif;
  /* border: 1px solid red; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-content > h2 {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Preahvihear", sans-serif;
}
.home-content > h4 {
  font-size: 1.5rem;
  font-family: "Preahvihear", sans-serif;
}
.home-content > p {
  font-size: 14px;
  font-family: "Preahvihear", sans-serif;
}
/* experience box */
.experience-container {
  color: white;
  row-gap: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.experience-container > h3 {
  font-size: 2.3rem;
}
.experience-box {
  padding: 3rem;
  width: 100%;
  background-image: linear-gradient(
    -20deg,
    #130428,
    #261045,
    #251057,
    #261044,
    #38126d,
    #190634
  );
  border-radius: 20px;
}
.experience-boxes {
  display: flex;
  gap: 30px;
  width: 100%;
}
.experience-box > h2 {
  font-size: 1.4rem;
  font-weight: bolder;
}
.experience-box > p {
  font-size: 0.8rem;
}
.experience-box h4 {
  font-size: 0.7rem;
  border: 1px solid white;
  border-radius: 10px;
  width: fit-content;
  padding: 0.6rem 1rem;
}
.skills-container {
  /* margin-top: 10rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}
.skills-container > h2 {
  font-size: 1.4rem;
  font-weight: bolder;
  color: white;
  text-align: center;
  line-height: normal;
}
.skills-container > img {
  width: 80%;
}
.projects-container {
  /* margin-top: 10rem; */
  color: white;
  position: relative;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
}
.projects-container > h3 {
  font-size: 2.3rem;
}
.projects-box {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  margin-top: 2rem;
  row-gap: 1.6rem;
}
.projects-lists > div:nth-child(odd) {
  flex-direction: row-reverse;
  /* border: 1px solid red; */
}
.projects-lists > div:nth-child(odd) > div > h3 {
  text-align: right;
  /* border: 1px solid red; */
}
.projects-box > div > h3 {
  color: white;
  font-family: "Poppins", sans-serif;
}
.projects-box > div > img {
  width: 30rem;
  background-size: contain;
}
.projects-box > div:nth-child(2) {
  border-width: 5px 0px 0px 4px;
  border-color: #2b0b3a;
  /* border-style: solid; */
  background-color: #2b0b3a;
  padding: 1rem 0 0 1rem;
}
.projects-box > div > div > p {
  font-family: "Poppins", sans-serif;
}
.projects-box > div > div {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-radius: 0.7rem;
  padding: 1rem;
  font-size: 0.9rem;
}
.contact-container {
  color: white;
  /* margin-top: 10rem; */
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}
.contact-container > h3 {
  font-size: 2.3rem;
}
.contact-container > div > a {
  color: white;
  font-weight: bolder;
  font-size: 1.4rem;
}
.icons {
  display: flex;
  column-gap: 2rem;
}
.icons > img {
  width: 2rem;
  filter: brightness(0) invert(1);
}
#menu {
  display: none;
}
.home-gradient {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: -10;
  width: 25rem;
}
/* media query */
@media only screen and (max-width: 600px) {
  #menu {
    display: block;
    width: 1.5rem;
    filter: invert(1);
  }
  header > div > li {
    position: absolute;
    top: 1;
    display: none;
    background-color: #fff;
    width: 80%;
    height: 100%;
  }
  header > h3 {
    font-size: 1.7rem;
  }
  .home-container {
    /* border: 1px solid red; */
    justify-content: center;
    row-gap: 1rem;
    /* overflow-x: hidden; */
    align-items: center;
  }
  .home-image {
    /* border: 1px solid red; */
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .experience-container {
    /* border: 1px solid red; */
  }
  .experience-boxes {
    flex-direction: column;
    overflow: hidden;
  }
  .skills-container {
    /* border: 1px solid red; */
  }
  .skills-container > img {
    width: 100%;
  }
  .projects-container {
    /* border: 1px solid red; */
    overflow: hidden;
  }
  .contact-container {
    /* border: 1px solid red; */
    overflow: hidden;
  }
  .projects-box {
    flex-direction: column;
  }
  .projects-box > div > img {
    width: 100%;
  }
  .projects-lists > div:nth-child(odd) {
    flex-direction: column;
  }
  .icons > img {
    width: 2rem;
  }
  .home-gradient {
    position: absolute;
    top: 30%;
    width: 20rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
  }
}
